@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.hero_desc{
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding-left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    font-size: 70px;
}
nav {
    padding: 23px 50px;
    font-size: 21px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    z-index: 1;
    align-items: center;
    border: 1px solid #c8c8c8;
}
.hero_desc p{
    font-size: 16px;
}
section{
    position: relative;
}
.square {
    background-color: #b8b8b8;
    width: 42px;
    height: 4px;
}
.hero_desc{
    position: absolute;
    font-family: 'Oswald';
    color: #ffffff;
    top: 0;
    width: 400px;
    height: 100%;
}
.cards{
    display: flex;
    justify-content: space-around;
    padding: 80px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    box-shadow: 0 0 7px 0px #d0d0d0;
}
.card p{
    text-transform: uppercase;
    font-family: 'Oswald';
}